body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: dodgerblue;
}

.logon-group {
  margin: auto;
}

/* Style the tab buttons */

.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: auto;
  padding: 1vh 1em;
  font-size: 17px;
  width: 50%;
  align-content: center;
  margin: auto;
}

/* Change background color of buttons on hover */

.tablink:hover {
  background-color: #777;
}

/* Set default styles for tab content */

.tabcontent {
  color: black;
  display: none;
  padding: 1% 0.5% 1% 0.5%;
  /* top right bottom left */
}

/* Style each tab content individually */

/*
#SignUp {background-color:blue;}
#Login {background-color:green;}
*/



.bg-img {
  /* The image used */
  background-image: url("../content/img/vladimir_putin_1.jpg");
  /* Control the height of the image */
  min-height: 380px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

/* Add styles to the form container */

.container {}

.logon-group {
  position: absolute;
  right: 0;
  top: 20%;
  margin: 0.5rem;
  padding: 3vh;
  background-color: white;
  border-radius: 0.25rem;
  width: 26%;
}

/* Full-width input fields */

input[type=text], input[type=password] {
  width: 100%;
  padding: 2vh;
  margin: 0.25em 0 0.5em 0;
  border: none;
  background: #f1f1f1;
  display: inline-block;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 0.1em;
}

/* Set a style for the submit button */

.loginbtn {
  background-color: #4CAF50;
  color: white;
  padding: 1em 1.25em;
  margin: 0.5em 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.loginbtn:hover {
  opacity: 1;
}


/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 1.5vh 1.25em;
  margin: 0.25em 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.registerbtn:hover {
  opacity:1;
}

.JoinUs {
  left: 0;
  top: 20%;
  color: white;
  width: 40%;
  max-height: 75%;
  font-size: 6vw;
}
