html, body {
  height: 100%;
  background: rgb(0, 14, 255);
  background: linear-gradient(45deg, rgba(0, 14, 255, 1) 0%, rgba(255, 0, 0, 1) 100%);
}

body {
  text-align: center;
  color: white;
}

a {
  color: white;
}


.Topbanner {
  background-image: url("../content/img/Topbanner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 540px;
}
